# Prevent package-lock.json changes unless truly necessary
save-exact=false
package-lock=true

# Use same lockfile version across all npm versions
lockfile-version=3

# Prefer offline and use cache to avoid unnecessary network checks
prefer-offline=true
