{% extends "base.cloudflare.njk" %}

{% block sentry_integrations %}
      Sentry.vercelAIIntegration(),
{% endblock %}

{% block dynamic_imports %}
      const ai = await import("ai");
      const aiSdkOpenai = await import("@ai-sdk/openai");
      const embed = ai.embed;
      const openai = aiSdkOpenai.createOpenAI({ apiKey: env.OPENAI_API_KEY });
{% endblock %}

{% block test %}
{% for input in inputs %}
      const { embedding, usage } = await embed({
        model: openai.embedding("{{ input.model }}"),
        value: {{ input.input | dump }},
        experimental_telemetry: {
          isEnabled: true,
          recordInputs: true,
          recordOutputs: true,
        },
      });
      console.log("Embedding dimension:", embedding.length);
      console.log("Token usage:", usage);
{% endfor %}
{% endblock %}
