{% extends "base.node.njk" %}

{% block dynamic_imports %}
const { default: OpenAI } = await import("openai");
const client = new OpenAI();
{% endblock %}

{% block test %}
{% for input in inputs %}
      const response = await client.embeddings.create({
        model: "{{ input.model }}",
        input: {{ input.input | dump }},
      });
      console.log("Embedding dimension:", response.data[0].embedding.length);
{% endfor %}
{% endblock %}
