{% extends "base.python.njk" %}

{% block imports %}
{{ super() }}
{% if isAsync %}
from openai import AsyncOpenAI
{% else %}
from openai import OpenAI
{% endif %}
{% endblock %}

{% block setup %}
{% if isAsync %}
client = AsyncOpenAI()
{% else %}
client = OpenAI()
{% endif %}
{% endblock %}

{% block test %}
{% for input in inputs %}
    response = {% if isAsync %}await {% endif %}client.embeddings.create(
        model="{{ input.model }}",
        input={{ input.input | dump }},
    )
    print(f"Embedding dimension: {len(response.data[0].embedding)}")
{% endfor %}
{% endblock %}
